<div style="height: 100vh; overflow: hidden;">
    <mat-card>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <button class="btn btn-primary">Login</button>
        </form>
    </mat-card>
</div>